/*{padding:0; margin:0;}*/
body{
    /*background-image:linear-gradient(rgb(31, 184, 31), black);*/
   color:rgb(23, 55, 199); 
   background-color:rgb(41, 39, 39);
   font-family:arial, Helvetica, sans-serif;
   font-weight: bold;
}
ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding:16px;
}
a{
  color: rgb(28, 28, 189);
  text-decoration: none;
}
a:hover{
 color:rgb(59, 62, 207);
 text-decoration: none;
}
a:active{
    color:rgb(20, 151, 226);
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(61, 61, 252);
}

.center{
    text-align:center;
}
h1{
    color:rgb(5, 167, 216);
}
h2, h3, h4{
    color: #125c79;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}
p{
    color:whitesmoke;
    font-family:Times, Times, serif;
    font-size:18px;
    font-style:none;
}