*{padding:0; margin:0;}
body{
    background-image:linear-gradient(#0099ff,#274d9e, #000);
    color:rgb(245, 245, 245); 
    background-color:rgb(41, 39, 39);
    font-family:arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav{
    box-sizing: border-box;
    background-color: rgb(19, 0, 0);
    border-radius: 5%;
}

#principal{
    min-height: 100vh;
}

ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding:5mm;
}
a{
  color: rgb(252, 252, 252);
  text-decoration: none;
}
a:hover{
 color:rgb(40, 135, 179);
 text-decoration: none;
}
a:active{
    color:rgb(5, 41, 61);
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.center{
    text-align:center;
}
h1{
    color:rgb(89, 175, 224);
    text-align:center;
}
h2, h3, h4{
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:center;
}
#cinza{
    color: rgb(94, 89, 89);
}
#branco{
    color: rgb(128, 122, 122);
}
p{
    color:whitesmoke;
    font-family:Times, Times, serif;
    font-size:18px;
    font-style:none;
    text-align:center;
}
ol li{
    text-align:center;
    font-family:Times, Times, serif;    
}
#redes{
    display: flex;
    justify-content: center;
    gap: 40mm;
}
.img_redes{
    width: 9mm;
    height: 9mm;
}
